@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
}
a {
  text-decoration: none;
}

.header {
  background-color: #fff;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 0px 15px 15px #00000008;
}

.dark-theme {
  transition: 0.8s;
  --primary-color: #2b3844;
  --secondary-color: #fff;
  --tertiary-color: #202c36;
}
.dark-theme .header {
  background-color: var(--primary-color);
}
.start {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px;
  transition: 0.4s;
  .pages {
    font-weight: 800;
    color: var(--secondary-color);
  }
  .darkmode {
    display: flex;
    align-items: center;
    gap: 8px;
    #icon {
      cursor: pointer;
    }
    #icon img {
      color: var(--tertiary-color);
    }
    color: var(--secondary-color);
  }
}
main {
  
  background: var(--tertiary-color);
  color: var(--secondary-color);
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: self-start;
    padding: 150px 0 !important;
    gap: 75px;
    .product {
      width: 267px;
      height: 350px;
      border-radius: 8px;
      box-shadow: 0px 0px 15px 15px #00000008;
      background-color: var(--primary-color);
      cursor: pointer;
    }
    .product img {
      border-radius: 8px 8px 0 0;
    }
    .product h1 {
      font-family: Nunito Sans;
      font-size: 18px;
      font-weight: 800;
      line-height: 26px;
      text-align: left;
      padding-top: 24px;
      padding-left: 24px;
      padding-bottom: 60px;
      width: 267px;
      height: 26px;
    }
    .product p {
      padding-left: 24px;
      padding-bottom: 8px;
    }
  }
  .input {
    position: relative;
    display: flex;
    align-items: center;
    // padding-top: 148px;
    width: 500px;

    img {
      position: absolute;
      top: 167px;
      left: 25px;
    }
    input {
      max-width: 480px;
      padding-left: 74px;
      padding-top: 18px;
      padding-bottom: 18px;
      outline: none;
      border: none;
      font-family: Nunito Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      border-radius: 4px;
      box-shadow: 0px 2px 9px 0px #0000000e;
      background-color: var(--primary-color);
      color: var(--secondary-color);
    }
  }
}

// @media (max-width: 375px) {
//   main {
//     padding-top: 100px;
//     max-width: 343px !important;
//     .input {
//       max-width: 320px;
//       padding-top: 100px;
//     }
//   }
// }

@media screen(max-width:375px) {
  
}